# VS Code settings
.vscode/
thunder_tests/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Node modules
node_modules/

# Jest coverage
coverage/

# Optional npm cache directory
.npm